nodered/data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Test IoT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3536842a.5b987c",
        "type": "mqtt-broker",
        "name": "Broker Locale Docker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "To Mosquitto",
        "topic": "iiot/linea1/motore/sensori",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3536842a.5b987c",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "e5974e51.7587b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Simula Dati Motore",
        "func": "// Genera valori casuali\nvar vibrazione = (Math.random() * 5).toFixed(2); // 0-5 mm/s\nvar temperatura = 40 + Math.floor(Math.random() * 30); // 40-70 °C\n\nmsg.payload = {\n    \"vibration\": parseFloat(vibrazione),\n    \"temperature\": temperatura\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 200,
        "wires": [
            [
                "3cc11d24.ff01a2",
                "d2345e12.98765"
            ]
        ]
    },
    {
        "id": "d1234e12.12345",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Ogni 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "e5974e51.7587b"
            ]
        ]
    },
    {
        "id": "d2345e12.98765",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Vedo i dati?",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 280,
        "wires": []
    }
]