nodered/data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Test IoT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3536842a.5b987c",
        "type": "mqtt-broker",
        "name": "Broker Locale Docker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "To Mosquitto",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3536842a.5b987c",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "e5974e51.7587b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Simula Dati Motore",
        "func": "// Simulazione dati IoT - Progetto Predictive Maintenance\n// Struttura Topic: sector/line/asset/sensor\n// Payload: { \"value\": X, \"unit\": \"Y\" }\n\n// 1. Genera valori simulati\n// Vibrazione (simula un motore che vibra un po')\nvar vib = (Math.random() * 2).toFixed(2); \n// Temperatura (tra 40 e 50 gradi)\nvar temp = (40 + Math.random() * 10).toFixed(1); \n\n// 2. Crea il messaggio per la VIBRAZIONE\nvar msgVibration = {\n    topic: \"sector_1/line_1/engine_1/vibration\",\n    payload: {\n        \"value\": parseFloat(vib),\n        \"unit\": \"g\"\n    }\n};\n\n// 3. Crea il messaggio per la TEMPERATURA\nvar msgTemperature = {\n    topic: \"sector_1/line_1/engine_1/temperature\",\n    payload: {\n        \"value\": parseFloat(temp),\n        \"unit\": \"Celsius\"\n    }\n};\n\n// 4. Ritorna entrambi i messaggi (Node-RED li invierà in sequenza)\nreturn [[msgVibration, msgTemperature]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 200,
        "wires": [
            [
                "3cc11d24.ff01a2",
                "d2345e12.98765"
            ]
        ]
    },
    {
        "id": "d1234e12.12345",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Ogni 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "e5974e51.7587b"
            ]
        ]
    },
    {
        "id": "d2345e12.98765",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Vedo i dati?",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "c766fc67628a218b",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "freebossetti",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "171587ac5d68a421",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 500,
        "wires": [
            []
        ]
    }
]